.custom-select__menu {
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  cursor: pointer;

  border-radius: 20px !important;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

@media (min-width: 768px) {
  .custom-select__value-container {
    width: 345px;
  }
}

.custom-select__value-container {
  width: 190px;
}

.custom-select__control {
  padding: 0 8px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e0e0e0;

  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #000000;
}

.custom-select__indicator {
  color: #000000;

  width: 18px;
  height: 9px;
}
